{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div style="text-align:center">
    <h1>Login</h1>
<form action="{% url 'login' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- <label for="">{{ field.label }}</label> -->
    <div class="row" style="margin-top: 10px; margin-bottom: 20px;">
        <div class="">
           {% for f in form %}
           <div class="my-5">{{ f }}</div>
           {% endfor %}
           <div>{{ message }}</div>
    
        </div>        
    </div>
    <!-- <p>{{ field.errors }}</p> -->
    
    <button type="submit" class="button1" >Login</button>
</form>
</div>
{% endblock %}