{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block head %}

{% endblock %}

{% block content %}
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    {% if user.image.url is not None %}
                    <img class="rounded-circle mt-5 main_image" width="150px" src="{{ user.image.url }}" alt="user image">
                    {% else %}
                    <img class="rounded-circle mt-5 main_image" width="150px" src="..." alt="user image">
                    {% endif %}
                    <form action="" method="po st" enctype="multipart/form-data" id="formUpload">
                        {% csrf_token %}
                            <input class="form-control my-3" type="file" name="userImage" id="avatar">
                    </form>
                    <button class="btn btn-info" type="button" id="image_save">save</button>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <form action="{% url 'profile' id %}" method="POST" enctype="multipart/form-data">
                    <div class="p-3 py-5">
                        
                        {% csrf_token %}
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels">Name</label>
                                {{ form.first_name }}
                            </div>
                        </div>
                            <div class="col-md-6">
                                <label class="labels">Surname</label>
                                {{ form.last_name }}
                            </div>
                        
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label class="labels">Username</label>
                            </div>
                            <div>{{ form.username }}</div>
                            <div class="col-md-12">
                                <label class="labels">Email</label>
                            </div>
                            <div>{{ form.email }}</div>
                            <div class="col-md-12">
                                <label class="labels">Phone Number</label>
                            </div>
                            <div>{{ form.mob_number }}</div>
                            <div class="col-md-12">
                                <label class="labels">Role</label>
                            </div>
                            <div>{{ form.role }}</div>
                        </div>
                        <div class="mt-5 text-center">
                            <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <img src="" alt="">
    
{% endblock %}

{% block script %}
    <script>
    $(document).ready(function(){
        $("#image_save").click(function () {
            //Get file from form.
            let url = "{% url 'avatar' %}"
            let token = '{{ csrf_token }}'
            let form_upload = $("#formUpload");
            let form_data = new FormData(form_upload[0]);
            $.ajax({
                url: url,
                headers: {
                    "X-CSRFToken": token
                },
                type: 'post',
                dataType: 'text',
                cache: false,
                processData: false,
                contentType: false,
                data: form_data,
                success: function (data) {
                    let image = JSON.parse(data)["image"]
                    $(".main_image").attr('src', image)
                    console.log("Image changed")
                },
                error: function (xhr, ajaxOptions, thrownError){
                    console.log(xhr.responseText)
                    console.log(xhr.statusText + ": " + xhr.status)
                    console.log(ajaxOptions)
                    console.log(thrownError)
                }
            });
        });
    })
    </script>
{% endblock %}