{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags%}

{% block content %}
<div class="text-center">
    <h1 style="margin: 20px; margin-top: 38px; margin-bottom: 28px;">
        Registration
    </h1>
            <form action="{% url 'register' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %} {% for field in form %}
                <!-- <label for="">{{ field.label }}</label> -->
                <div class=" mx-auto" style="margin-top: 20px; margin-bottom: 20px;">{{ field }}</div>
                <div>{{ field.errors }}</div>
                {% endfor %}
                <button type="submit" class="button1" style="margin-bottom: 40px;">Register</button>
            </form>
</div>
{% endblock %}