.button1 {
    height: 40px;
    width: 220px;  
    border-radius: 50px;
    border-color: transparent;
    background-color: rgb(10, 185, 10);
    color: white;
}

.button1:hover {
    background-color: rgba(21, 212, 21, 0.815);
}