{% load static %}
{% load i18n %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as CURRENT_LANGUAGE %}

{% load main_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-utilities.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.rtl.css' %}">

    <!--  Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--  Fonawesome Icons  -->
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.1.1-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.1.1-web/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.1.1-web/css/solid.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.1.1-web/css/brands.css' %}">
    <!-- Custom css files -->
    <link rel="stylesheet" href="{% static 'css_files/style.css' %}">



    {% block head %}
    
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="alert alert-success add-cart-success mt-3" role="alert" style="display: none">
          <div class="row align-items-center">
              <div class="col-11">
                  <p class="my-auto ms-5">{% trans "Added to cart!" %}</p>
              </div>
              <div class="col-1"><i class="fas fa-close ms-5"></i></div>
          </div>
        </div>
        <div class="alert alert-danger add-cart-fail mt-3" role="alert" style="display: none">
          <div class="row align-items-center">
              <div class="col-11">
                  <p class="my-auto ms-5">{% trans "Not added to cart!" %}</p>
              </div>
              <div class="col-1"><i class="fas fa-close ms-5"></i></div>
          </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">ITC Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">{% trans "Home" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
                <li class="nav-item me-auto">
                    <form class="d-flex">
                        <input class="form-control me-2 search_input" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success search_btn" type="button">Search</button>
                    </form>
                </li>
              </ul>
            </div>
              <div>
                  <ul class="navbar-nav align-items-center">
                      <li class="nav-item">
                         <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="" />

                            <select class="selectpicker" name="language" style="width: auto;" onchange="this.form.submit()">
                              {% get_current_language as LANGUAGE_CODE %}
                              {% get_available_languages as LANGUAGES %}
                              {% get_language_info_list for LANGUAGES as languages %}
                              {% for language in languages %}

                                  <option
                                    value="{{ language.code }}"
                                    {% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}
                                    data-content='<img src="/static/images/flags/{{ language.code }}.gif"></span>
                                    <span style="display:inline-block; width:100px; padding-left: 10px; text-shadow:none">
                                      {{ language.name_local }}
                                      <!-- span style="color:#999;">&nbsp;[{{ language.code }}]</span -->
                                    </span>'>
                                    {{ language.code }}
                                  </option>

                              {% endfor %}
                            </select>
                        </form>
                      </li>
                  {% if not user.is_authenticated %}
                      <li class="nav-item">
                          <a class="text-decoration-none link-dark" href="{% url 'login' %}">{% trans "Sign in" %}</a>
                      </li>
                      <li class="nav-item">
                          <a class="text-decoration-none me-3 link-dark" href="{% url 'register' %}">{% trans "Sign up" %}</a>
                      </li>
                  {% else %}
                      <li class="nav-item">
                          <a class="text-decoration-none link-dark" href="{% url 'logout' %}">{% trans "Logout" %}</a>
                      </li>
                      <li class="nav-item">
                          <a class="text-decoration-none me-3 link-dark" href="{% url 'profile' user.id %}">{{ user.username }}</a>
                          {% if user.image.url is not None %}
                          <img style="height: 35px; width: 35px;" class="me-3 rounded-pill" src="{{  user.image.url }}" alt="">
                          {% else %}
                          <img style="height: 35px; width: 35px;" class="me-3 rounded-pill" src="..." alt="">
                          {% endif %}
                      </li>
                      <li class="nav-item">
                          <a href="{% url 'cart_list' %}?filter=1">
                              <i class="fas fa-2x fa-cart-shopping text-success"></i>
                          </a>
                      </li>
                  {% endif %}
                  </ul>
              </div>
          </div>
        </nav>
    </div>
    <div class="container mt-2">
        {% block content %}
        {% endblock %}
    </div>



     <!-- jQuery -->
    <script src="{% static 'jquery/jquery-3.6.0.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'jquery/jquery-3.6.0.slim.js' %}" type="text/javascript"></script>

    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.esm.js' %}" type="text/javascript"></script>
{#    <script>#}
{#      $("select[name=language]").on('change', function (){#}
{#          let code = $(this).find("option").filter(":selected").val()#}
{#          let url = '{% url 'activate_language' %}' + "?code=" + code#}
{#          $.get(#}
{#              url,#}
{#              function (data) {#}
{#                alert('success')#}
{#              },#}
{#          )#}
{#      })#}
{#  </script>#}
    {% block script %}

    {% endblock %}
</body>
</html>