<!DOCTYPE html>
<html>

<head>
    <title>Delete product</title>

</head>

<body>
    <div>
        <form role="form" action="{% url 'delete_product' id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <h1>Siz haqqatan bu malumotni ochirmoqchimisiz?</h1>
            </div>
            <p><input type="submit" value="Ha" style="margin-right: 20px; background-color: green; padding: 8px; border-radius: 10px;" /><a style="background-color: red; border-radius: 10px; padding: 8px; text-decoration: none;" class="btn btn-danger" href="{% url 'products_list' %}">Bekor qilish</a></p>
            <!-- <a href="https://www.youtube.com/" style="background-color: red; padding: 8px; border-radius: 10px; color: white;">YouTube</a> -->
        </form>

    </div>
</body>

</html>