{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
{% url "set_language" %}
<div class="row">
    <div class="col-3">
        <select class="select2-container dropdown" name="product_types" id="p_types">
            {% for type in types %}
                <option value="{{ type.id }}">{{ type.name }}</option>
            {% endfor %}
        </select>
        <select class="select2-container dropdown" name="product_dates">
            <option value="1">{% trans "Daily" %}</option>
            <option value="2">{% trans "Weekly" %}</option>
            <option value="3">{% trans "Monthly" %}</option>
        </select>
    </div>
    <div class="col-9">
        <div class="row justify-content-around products">
            {% for product in products %}
            <div class="card my-2" style="width: 18rem;" product-type="{{ product.product_type_id }}">
                <img src="{{ product.image.url }}" class="card-img-top p-2" alt="product img">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">${{ product.price }}</h6>
                    <p class="card-text">Loerm ipsum dolor simet.</p>
                    <a href="#" class="card-link link-info text-decoration-none">Detail</a>
                    <a href="#" data-id="{{ product.id }}" class="card-link add_cart"><i class="fas fa-cart-shopping text-success"></i></a>
                    <a href="#" data-id="{{ product.id }}" class="card-link add_cart">Order</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="my-5">
            <table>
                <thead>
                <tr>
                    <td>Nomi</td>
                    <td>Kurs</td>
                    <td>Sana</td>
                </tr>
                </thead>
                <tbody>
                {% for currency in currencies %}
                <tr>
                    <td>{{ currency.Ccy }}</td>
                    <td>{{ currency.Rate }}</td>
                    <td>{{ currency.Date }}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
    <script>
    $(document).ready(function(){
        let media_url = "{% get_media_prefix %}"
        let product_types_select = $("select[name=product_types]");
        let products_div = $(".products")
        product_types_select.on('change', function (){
            let type_id = $(this).find('option').filter(":selected").val()
            let url = {% url 'get_products' %} + "?type_id="+type_id
            $.get(
                url,
                function (data){
                    products_div.empty();
                    let products = data.products;
                    for (let i = 0; i < products.length; i++){
                        let image = products[i].image.url
                        let html = '<div class="card my-2" style="width: 18rem;" product-type="' + products[i].product_type_id + '">' +
                                        '<img src="' + media_url + products[i].image + '" class="card-img-top p-2" alt="product img">' +
                                        '<div class="card-body">' +
                                            '<h5 class="card-title">' + products[i].name + '</h5>' +
                                            '<h6 class="card-subtitle mb-2 text-muted">$' + products[i].price + '</h6>' +
                                            '<p class="card-text">Loerm ipsum dolor simet.</p>' +
                                            '<a href="#" class="card-link link-info text-decoration-none">Detail</a>' +
                                            '<a href="#" data-id="' + products[i].id + '" class="card-link add_cart"><i class="fas fa-cart-shopping text-success"></i></a>' +
                                        '</div>' +
                                    '</div>'
                        products_div.append(html)
                    }
                }
            )
        })
        let product_date_select = $("select[name=product_dates]");
        product_date_select.on('change', function (){
            let date_type = $(this).find('option').filter(":selected").val()
            let url = {% url 'get_products_by_date' %} + "?date_type="+date_type
            $.get(
                url,
                function (data){
                    products_div.empty();
                    let products = data.products;
                    for (let i = 0; i < products.length; i++){
                        let html = '<div class="card my-2" style="width: 18rem;" product-type="' + products[i].product_type_id + '">' +
                                        '<img src="' + media_url + products[i].image + '" class="card-img-top p-2" alt="product img">' +
                                        '<div class="card-body">' +
                                            '<h5 class="card-title">' + products[i].name + '</h5>' +
                                            '<h6 class="card-subtitle mb-2 text-muted">$' + products[i].price + '</h6>' +
                                            '<p class="card-text">Loerm ipsum dolor simet.</p>' +
                                            '<a href="#" class="card-link link-info text-decoration-none">Detail</a>' +
                                            '<a href="#" data-id="' + products[i].id + '" class="card-link add_cart"><i class="fas fa-cart-shopping text-success"></i></a>' +
                                        '</div>' +
                                    '</div>'
                        products_div.append(html)
                    }
                }
            )
        });

        let search_item = $('.search_input')
        let search_btn = $(".search_btn")
        let url = {% url 'search_view' %}
        search_btn.on('click', function (){
            $.get(
                url+'?search='+search_item.val(),
                function (data){
                    products_div.empty();
                    let products = data.products;
                    for (let i = 0; i < products.length; i++){
                        let html = '<div class="card my-2" style="width: 18rem;" product-type="' + products[i].product_type_id + '">' +
                                    '<img src="' + media_url + products[i].image + '" class="card-img-top p-2" alt="product img">' +
                                    '<div class="card-body">' +
                                        '<h5 class="card-title">' + products[i].name + '</h5>' +
                                        '<h6 class="card-subtitle mb-2 text-muted">$' + products[i].price + '</h6>' +
                                        '<p class="card-text">Loerm ipsum dolor simet.</p>' +
                                        '<a href="#" class="card-link link-info text-decoration-none">Detail</a>' +
                                        '<a href="#" data-id="' + products[i].id + '" class="card-link add_cart"><i class="fas fa-cart-shopping text-success"></i></a>' +
                                    '</div>' +
                                '</div>'
                        products_div.append(html)
                    }
                }
            )
        })

        $(document).on('click', '.add_cart', function (){
            let product_id = $(this).attr("data-id")
            let url = "{% url 'create_cart' %}"
            let token = "{{ csrf_token }}"
            let success_alert = $(".add-cart-success")
            $.ajax({
                method: 'POST',
                url: url,
                headers: {
                    CSRF: token
                },
                data: {
                    product_id: product_id,
                    csrfmiddlewaretoken: token
                },
                success: function(data){
                    success_alert.fadeIn('slow')
                    success_alert.delay(1000).fadeOut('slow')
                    },
                }
            )
        })
    })
    </script>
{% endblock %}