{% load static %}
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<div class="main">
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>ID</td>
				<td>Name</td>
				<td>Customer</td>
				<td colspan="2" class="text-center">Actions</td>
			</tr>
		</thead>
		<tbody>
			{% for data in dataset %}
			<tr>
				<td>{{data.id}}</td>
				<td>{{data.product.name}}</td>
				<td>{{data.customer.username}}</td>
				<td>
					<a href="{% url 'update_view' data.id %}">Update</a>					
				</td>
				<td>
					<a href="{% url 'delete_order' data.id %}">Delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</html>
