{% load static %}
<!DOCTYPE html>
<html>
<title>
    Products
</title>

<body>
    <h1>{{ user }}</h1>
    <table>
        <thead>
            <tr style="background-color: aqua;">
                <td>ID</td>
                <td>Name</td>
                <td>Price</td>
                <td>Type</td>
                <td>Total amount</td>
                <td>Shtirx Code</td>
                <td>Image</td>
                <td colspan="2" style="text-align: center;">actions</td>
            </tr>
        </thead>

        <body>
            {% for i in products %}
            <tr>
                <td>
                    {{ i.id }}
                </td>
                <td>
                    {{ i.name }}
                </td>
                <td>
                    {{ i.price }}
                </td>
                <td>
                    {{ i.type }}
                </td>
                <td>
                    {{ i.total_amount }}
                </td>
                <td>
                    {{ i.x_code }}
                </td>
                <td>
                   <a href=' {% url "create_cart" i.id %}'>add_cart</a>
                </td>
                {% comment %} <td>
                    <a href="{{ i.image.url }}"><img src="{{ i.image.url }}" alt="image" style="height: 80px; width: 100px;"></a>
                </td>
                <td>
                    <a href="{% url 'update_product' i.id %}">Update</a>
                </td>
                <td>
                    <a href="{% url 'delete_product' i.id %}">Delete</a>
                </td> {% endcomment %}
            </tr>
            {% endfor%}
        </body>
    </table>
    <div style="margin-top: 30px;">
       
    </div>

</body>

</html>