{% load static %}
<!DOCTYPE html>
<html>
<title>Products</title>

<body>
    <h1>{{ user }}</h1>
    <table>
        <thead>
            <tr style="background-color: rgb(7, 237, 253);">
                <td>ID</td>
                <td>Name</td>
                <td>Price</td>
                <td>Type</td>
                <td>Total amount</td>
                <td>Shtirx Code</td>
                <td>Image</td>
                <td colspan="2" style="text-align: center;">actions</td>
            </tr>
        </thead>
    
        <body>
            {% for i in object_list %}
            <tr>
                <td>
                    {{ i.id }}
                </td>
                <td>
                    {{ i.name }}
                </td>
                <td>
                    {{ i.price }}
                </td>
                <td>
                    {{ i.type }}
                </td>
                <td>
                    {{ i.total_amount }}
                </td>
                <td>
                    {{ i.x_code }}
                </td>
                <td>
                    <a href="{% url 'update_product' i.id %}">Update</a>
                </td>
                <td>
                    <a href="{% url 'delete_product' i.id %}">Delete</a>
                </td>
            </tr>
            {% endfor%}
        </body>
    </table>
    <div style="margin-top: 30px;">
        <a type="button" style="background-color: rgb(250, 29, 0); text-decoration: none; border-radius: 10px; padding: 8px;" href="{% url 'create_product' %}">Create</a>
    </div>

</body>
