{% load static %}
<!DOCTYPE html>
<html>
<title>Products_types</title>

<body>
    <h1>{{ user }}</h1>
       <table>
        <thead>
            <tr style="background-color: aqua;">
                <td>ID</td>
                <td>Name</td>
                <td colspan="2" style="text-align: center;">actions</td>
            </tr>
        </thead>
                    
        <body>
            {% for i in products_types %}
            <tr>
                <td>
                    {{ i.id }}
                </td>
                <td>
                    {{ i.name }}
                </td>
                <td>
                    <a href="{% url 'update_product_type' i.id %}">Update</a>
                </td>
                <td>
                    <a href="{% url 'delete_product_type' i.id %}">Delete</a>
                </td>             
            </tr>
                {% endfor%}
        </body>
    </table>
    <div style="margin-top: 30px;">
        <a type="button" style="background-color: aqua; text-decoration: none; border-radius: 10px; padding: 8px;" href="{% url 'product_type_create' %}">Create</a>
    </div>

</body>
