{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Products_types create</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
</head>

<body>
    <div class="container">
        <div class="row w-50">
            <form class="form-control mt-5 col-4 offset-3" action="{% url 'products_types' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %} {% for field in form %}
                <label for="">{{ field.label }}</label>
                <div style="margin-top: 20px; margin-bottom: 20px;">{{ field }}</div>
                <small>{{ field.errors }}</small> {% endfor %}
                <button type="submit" class="btn btn-success rounded-pill">Create</button>
            </form>
        </div>
    </div>
</body>

</html> 