<div class="main" style="text-align: center; margin-top: 150px">
	<!-- Create a Form -->
	<form method="POST">
	
		{% csrf_token %}

		<!-- form as paragraph -->
		{{ form.as_p }}

		<input type="submit" value="Update">
	</form>

</div>
