<!DOCTYPE html>
<html>

<head>
    <title>Update product</title>

</head>

<body>
    <div>
        <form action="{% url 'update_product' id %}" method="POST">
            {% csrf_token %} {% for field in form %}
            <label for="">{{ field.label }}</label>
            <div style="margin-top: 20px; margin-bottom: 20px;">{{ field }}</div>
            {% endfor %}
            <button type="submit" style="background-color: green;">Update</button>
        </form>
    </div>
</body>

</html>